@charset "utf-8";
nav {
	text-align: center;
}
body {
	text-align: center;
	font-size: 36px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
